  .left-section {
    flex: 1;
  }

.form5 {
    padding-top: 70px;
    padding-left: 40px;
    background-color: #E8E8FF;
    width: 540px;
    height: 720px;
    position: absolute;
    margin-top: 3%;
    margin-left: 27%;
    border-radius: 30px;
    font-family: Montserra;
    font-weight: regular;
    }

.form5 h3 + p {
    margin-top: 24px;
}
    
.form5 p + h3 {
    margin-top: 64px;
}

.form5 h3 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #6B6B6B;
    font-weight: 100;
}

.form5 p{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 100;
}

.input5 {
    text-align: left;
    padding-top: 0;
    height: 137px;
    width: 435px;
    line-height: normal;
    font-size: 20px;
    border-radius: 20px;
    border: none;
}

.form-container {
    position: relative;
}

.button-container {
    position: absolute;
    bottom: -430px;
    left: 50%;
}

.answer {
    background-color: #A8A8FF;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 350px;
    height: 74px;
    cursor: pointer;
    position: absolute; 
    bottom: 0;  
    transform: translateX(-10%);
}

.section-title {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-140%);
    font-size: 30px;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.appeal-title {
    margin-left: 700px;
    margin-top: 20px; 
    top: 0; 
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000000;
}

.reject {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    border: 1 px;
    width: 285px;
    height: 45px;
    cursor: pointer;
    margin-top: 50px;
    position: absolute; 
    right: -100px; 
}

.back-container {
    position: absolute;
    top: 20px; 
    left: 20px; 
}

.back {
    background-color: white;
    border: 1px solid black;
    border-radius: 18px;
    width: 100px;
    height: 38px;
    padding: 10px;
}








