.input-file-container {
    display: flex;
    flex-direction: column;
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.file-upload-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-file-icon {
    font-size: 20px; 
    margin-left: 8px; 
}

.input-file-element {
    display: none; 
}

.input-file-info {
    margin-top: 8px;
}
